*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.logo {
  margin-top: none;
  margin-right: 1.5rem;
}

.job-title {
  color: white;
  margin: 2rem;
  font-family: "Crimson Text";
  font-size: larger;
  -webkit-text-stroke: 1.5px rgb(227, 43, 43);
}

.enter-btn {
  z-index: 3;
  outline: none;
  background: none;
  border: 3px dotted rgb(227, 43, 43);
  margin: none;
  width: 10rem;
  height: 4rem;
  font-size: 1.8rem;
  color: rgb(227, 43, 43);
  font-family: "Crimson Text";
}

.enter-btn:active {
  z-index: 3;
  outline: none;
  background: none;
  border: 3px dotted rgb(227, 43, 43);
  margin: none;
  width: 10rem;
  height: 4rem;
  font-size: 2rem;
  color: rgb(227, 43, 43);
  font-family: "Crimson Text";
}

.slide {
  animation: slide 1s ease-in forwards;
}

@keyframes slide {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.appear {
  animation: appear 500ms ease-in forwards;
  animation-delay: 1s;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.home {
  opacity: 0%;
  display: flex;
  justify-content: center;
}

.title {
  opacity: 0%;
}

.header {
  opacity: 0%;
  width: 60vw;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.main {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.header-stay {
  width: 60vw;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.about {
  color: white;
  width: 7.5rem;
  height: auto;
}

.resume {
  color: white;
  width: 8rem;
  height: auto;
}

.projects-img {
  color: white;
  width: 8rem;
  height: auto;
}

.link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 20vw;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 7rem;
}

.project-container {
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: flex-start;
  margin-bottom: 7rem;
}

.pick-one {
  position: absolute;
  opacity: 0%;
  height: 25rem;
  margin: 0;
  margin-top: 20rem;
  padding: 0;
}

.buttons {
  margin-top: 2rem;
}

.header-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.header-container-start {
  position: absolute;
  opacity: 0%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.banner-img {
  height: auto;
  margin: 0;
  padding: 0;
}

.about-start {
  opacity: 0%;
  color: white;
  width: 7.5rem;
  height: auto;
}

.resume-start {
  opacity: 0%;
  color: white;
  width: 8rem;
  height: auto;
}

.projects-img-start {
  opacity: 0%;
  color: white;
  width: 8rem;
  height: auto;
}

.banner-img-start {
  opacity: 0%;
  height: auto;
  margin: 0;
  padding: 0;
}

.resume-img {
  margin-top: 5rem;
  justify-self: center;
  width: 60vw;
}

.projectTitle {
  margin-bottom: 2rem;
  color: white;
  font-family: "Crimson Text";
  font-size: 2rem;
  -webkit-text-stroke: 0.7px rgb(227, 43, 43);
}

.buttons button {
  outline: none;
  border: dotted 2px rgb(227, 43, 43);
  background: none;
  margin: 0rem 1rem;
  padding: none;
  color: white;
  font-family: "Crimson Text";
  font-size: 1.5rem;
  -webkit-text-stroke: 1px rgb(227, 43, 43);
  padding: 0.25rem;
}

.buttons button:hover {
  outline: none;
  border: dotted 2px rgb(227, 43, 43);
  background: rgba(227, 43, 43, 0.128);
  margin: 0rem 1rem;
  padding: none;
  color: white;
  font-family: "Crimson Text";
  font-size: 1.5rem;
  -webkit-text-stroke: 1px rgb(227, 43, 43);
  padding: 0.25rem;
}

.aboutImage {
  justify-self: center;
  margin-left: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 40vw;
}
